SECRET_KEY=
DEBUG=False

DB_NAME=change_detection_db
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=Website Change Detection

FIELD_ENCRYPTION_KEY=

TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=

GEMINI_API_KEY=